@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


html {
    max-width: 100%;
  width: 100%;
  height: 100%;
  /* --color: rgba(114, 114, 114, 0.3);
    --s: 50px; /* control the size 
    
    --g:conic-gradient(at 90% 40%,#0000 75%,#774F38 0);
    background: var(--g),var(--g) var(--s) var(--s) #F1D4AF;
    background-size: calc(2*var(--s)) calc(2*var(--s)); */

    background-image: url(../img/bkg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

html p{
  font-family: 'Merriweather', serif;
}

html h2{
  font-family: 'Merriweather', serif;
}
/* Estilos generales para el cuerpo del documento */
body {
    margin: 0;
    padding: 0;
        box-sizing: border-box;
}

/* Estilos para la clase 'pagina' */
.pagina {

}

/* Estilos para los títulos de nivel 1 */
h1 {
    text-align: center;
    color: #000000;
    font-family: monospace; /* Aplica una fuente monoespaciada */
}

/* Estilos generales para el encabezado y la navegación */
header {
    display: flex;
    background-color: rgba(253, 125, 5, 0); /* Fondo transparente */
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 40px; /* Altura del encabezado */
}

/* Estilos para la barra de navegación */
#nav {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0); /* Fondo transparente */
    width: 100%;
    border: 1px solid black; /* Borde negro */
    overflow: hidden;
}

#nav ul{
    padding: 5px;
    list-style: none;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    max-width: 100%;
    margin: auto;
    }
  
  #nav ul li a{
    flex: auto;
    padding: 10px;
    background-color: rgba(235, 228, 228, 0.021); 
    font-size: 18px;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;   
}

/* Estilos para el elemento de la lista 'Contacto' */
#contacto {
    margin-left: auto;
}

/* Estilos para los enlaces cuando se les pasa el mouse por encima */
#nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.342); /* Fondo semitransparente */
    color: white; /* Texto blanco */
    /* border-radius: 40px; Bordes redondeados */
}

/* Estilos para el logo */
#nav img {
    max-width: 20%;
    display: flex;
    margin: auto;
    margin-left: initial;   
    width: 100px; /* Ancho máximo */
    margin-top: -35px; /* Margen superior negativo */
    height: auto; /* Altura automática */
}

main img,
main p,
main h2,
#mine p,
#resumen,
#caja,
aside,
footer {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}


/* Estilo para el fondo del nav */
.container {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
      --s: 50px; /* control the size */
      
      --g:conic-gradient(at 90% 90%,#0000 75%,#3e7528 0);
      background: var(--g),var(--g) var(--s) var(--s) #a2b45a;
      background-size: calc(2*var(--s)) calc(2*var(--s));
}

.fondo {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.886);
    border-radius: 2%;
    margin: 1rem;
    box-shadow: 0 5px 10px rgba(25, 24, 24, 0.94);
    padding: 2rem;
  }












.formulariopadre{
    background-color: #000000;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.formulariohijo{
    background-color: #F1D4AF;
    padding: 1rem;
}

.formulariohijo h2{
    text-align: left;
    background-color: aquamarine;
    color: #000000;
}

.formulariohijo p{
    text-align: left;
    background-color: blueviolet;
    color: #000000;
    font-size: 13px;
}

.formulariohijo form{
    text-align: left;
    background-color: aqua;
    color: #000000;
}

.formulariohijo button{
    background-color: red;
}