 @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


html {
  width: 100%;
  height: 100%;
  /* --color: rgba(114, 114, 114, 0.3);
    --s: 50px; /* control the size 
    
    --g:conic-gradient(at 90% 40%,#0000 75%,#774F38 0);
    background: var(--g),var(--g) var(--s) var(--s) #F1D4AF;
    background-size: calc(2*var(--s)) calc(2*var(--s)); */
    background-image: url(../img/bkg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html p{
  font-family: 'Merriweather', serif;
}

html h2{
  font-family: 'Merriweather', serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
  }
  
  h1 {
    text-align: center;
    color: #fff;  
    font-family: 'Merriweather', serif;
  }
  
  /* Estilos generales para el header y navegación */
  header {
    display: flex;
    background-color: rgba(253, 125, 5, 0);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 40px;
  }

  #nav {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
  }
  
  #nav ul{
    padding: 5px;
    list-style: none;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    max-width: 100%;
    margin: auto;
    }
  
  #nav ul li a{
    flex: auto;
    padding: 10px;
    background-color: rgba(235, 228, 228, 0.021); 
    font-size: 19px;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;   
}

#contacto {
    margin-left: auto;
}

  #nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.342);
    color: white;
  }

  #nav img {

    max-width: 20%;
    display: flex;
    margin:auto;
    margin-left: initial;
    width: 100px;
    margin-top: -35px;
    height: auto;
  }

  /* Estilos para las imágenes dentro de 'maine' */
/* Estilos para la sección principal 'maine' */
main {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-content: left;
  
}

/* Estilos para elementos fuertes dentro de 'maine' */
main strong {
  font-size: 20px;
}

/* Estilos para las imágenes dentro de 'maine' */
main img {
  margin-left: auto;
  max-width: 100%;
  width: 30%;
  padding: 1px;
  border-radius: 10%;
  display: flex;
  margin: initial;
}

/* Estilos para los párrafos dentro de 'maine' */
main p {
  margin: auto;
  font-size: 16px;
  padding: auto;
  color: #000000;
  
}
  
  
  
  /* Estilos generales para secciones */
/* Estilos para la sección 'galeria' */
#galeria {
  background-color: rgba(206, 225, 205, 0.166); /* Fondo transparente */
  padding-bottom: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.644); /* Sombra transparente */
  border-radius: 15px;
}

/* Estilos para las imágenes dentro de la galería */
.fotos2 {
  border-radius: 10%; /* Bordes redondeados */
  margin: 1px;
  
}

/* Estilos para los títulos de nivel 2 dentro de 'galeria' */
#galeria h2 {
  padding: 1rem;
  padding-bottom: 0;
  color: #000000;
}

/* Establece un ancho máximo para las imágenes dentro de 'galeria' */
#galeria img {
  max-width: 400px;
  padding: 1rem;
}

/* Establece el ancho de la sección de la galería */
#galeria .fotos {
  max-width: auto;
  margin: 0 auto;
  overflow: hidden;
}

/* Estilos para la galería de imágenes */
.fotos-container {
  overflow: hidden;
}

.fotos {
  display: flex;
  width: 900%; /* Ajusta según la cantidad de imágenes */
  transition: transform 0.5s ease;
}

/* Establece el ancho de cada imagen en la galería */
.fotos img {
  width: 100%;
  flex: 0 0 auto; /* Ajusta según tus necesidades */
}

/* Estilos para los controles de la galería */
.controls {
  display: flex;
  align-items: center;
}

.controls button {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  background-color: rgba(222, 219, 219, 0); /* Fondo semitransparente */
  border: none;
  padding: 10px;
}

.controls button:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  border-radius: 10%;
}
  /* estilo para el fondo del nav */
  .container {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    --s: 50px; /* control the size */
      
    --g:conic-gradient(at 90% 90%,#0000 75%,#3e7528 0);
    background: var(--g),var(--g) var(--s) var(--s) #a2b45a;
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

  .carac {
    display: flex;
    max-width: 100%;
    padding: 1rem;
    padding-bottom: 0 ;
    width: 100%;
    height: auto;
  }
  

  .caract h2{
    padding: 1rem;
    padding-bottom: 0;
    color: rgb(0, 0, 0);
  }

  .carac img{
    max-width: 15%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
 }

 .cara{
  -ms-text-justify: auto;
  text-align: left;
 }

  .carac ul{
    font-size: 15px;
    padding: 1rem;
    margin-right: auto;
    list-style-type: none;
    color: #000000;
    
  }

  .carac li{
    padding: 5px;
  }

  .fondo {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.886);
    border-radius: 2%;
    margin: 1rem;
    box-shadow: 0 5px 10px rgba(25, 24, 24, 0.94);
    padding: 2rem;
  }



  .ubi{
    color: #000;
  }

  /* Estilos para la sección 'maps' */
.maps {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(209, 70, 82, 0); /* Fondo transparente */
  max-width: 100%;
  border: 3px solid #0eda4100; /* Borde semitransparente */
  width: 100%;
  height: auto;
}
  

/* Estilos para la lista dentro de 'maps' */
.maps ul {
  list-style: none;
  text-align: left;
  margin: auto;
}

/* Estilos para los párrafos dentro de 'maps' */
.maps p {
  text-align: left;
  margin-right: left;
  border: 3px solid #d30eda00; /* Borde semitransparente */
  margin: auto;
  padding: 1rem;
  color: #000000; /* Texto blanco */
}

/* Estilos para las imágenes dentro de 'maps' */
.maps img {
  max-width: 50%;
  width: 5%;
  height: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
}

/* Estilos para el título 'Ubicacion' */
#ubi h2 {
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
  color: #000000; /* Texto blanco */
}

/* Estilos para el contenedor de la iframe */
.iframe {
  display: flex;
  max-width: 100%;
  height: auto;
  border: 1px solid #0000002e; /* Borde semitransparente */
  box-shadow: 0px 5px 10px rgb(0, 0, 0); /* Sombra */
  -moz-border-radius: 15px; /* Bordes redondeados */
  border-radius: 5%; /* Bordes redondeados */
  overflow: hidden;
}

  .reglas{
    color: #000;
  }
  
  aside {
    color: #000;
  }